<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">

  <!--CSS file ref-->


</head>

<body style="background-color: rgb(245, 245, 240);">
<!--Header-->

<!--Navigator-->

<!--Content-->
<div class="container-fluid responsive row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="shadow">
      <div class="text-center">
        <img class="rounded-circle"
             src="https://images.kienthuc.net.vn/zoomh/500/uploaded/nguyenanhson/2017_09_15/8/gai-xinh-khoa-it-truong-dh-cong-nghe-thuc-pham-khoe-sac.jpg"
             style="height: 6rem; margin-bottom: 10px;">
        <h5>Trạch Văn Đoành</h5>
      </div>
      <div class="form-inline">
        <h6 style="width: 28%; margin-left: 15px;">Mật khẩu cũ</h6>
        <input type="text" class="form-control" style="width: 68%;margin-bottom: 5px;">
        <h6 style="width: 28%; margin-left: 15px;">Mật khẩu mới</h6>
        <input type="text" class="form-control" style="width: 68%;margin-bottom: 5px;">
        <h6 style="width: 28%; margin-left: 15px;">Mật khẩu mới (nhập lại)</h6>
        <input type="text" class="form-control" style="width: 68%;margin-bottom: 15px;">
        <h6 style="width: 65%"></h6>
        <a class="text-center btn btn-primary font-weight-bold"
           style="width: 33%; margin-bottom: 10px; font-size: 1rem;">LƯU THAY ĐỔI</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
<br>
<br>

<!-- Footer mặc định -->
<div class="row bg-primary footer">
  <div>
    <p>@2018 Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội </p>
    <p>Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
    <p>Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn</p>
  </div>
</div>



</body>

</html>
