<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title> Student Profile</title>

  <!-- Bootstrap core CSS -->
  <link href="~/assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/assets/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
  <script src="~/assets/jquery-3.2.1.min.js"></script>
  <script src="~/assets/bootstrap/js/bootstrap.js"></script>
  <!-- Custom styles for this template -->
  <link href="/Frontend/src/app/UI/InternshipResult.component.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="main-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Đề tài</th>
            <th scope="col">Cán bộ hướng dẫn</th>
            <th scope="col">Báo cáo định kì </th>
            <th scope="col">Báo cáo toàn văn</th>
            <th scope="col">Điểm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kiểm thử giao diện tự động</td>
            <td>PGS.TS Phạm Ngọc Hùng </td>
            <td>
              <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </td>
            <td>
              <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </td>
            <td>10</td>
          </tr>
          <tr>
            <td>Chấm điểm kĩ năng tin học văn phòng</td>
            <td>PGS.TS Phạm Ngọc Hùng </td>
            <td>
              <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </td>
            <td>
              <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </td>
            <td>9</td>
          </tr>
          <tr>
            <td>Xử lí ảnh vệ tinh SPOT5</td>
            <td>PGS.TS Lê Thanh Hà </td>
            <td>
              <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </td>
            <td>
              <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
              <i class="fa fa-download fa-2x" aria-hidden="true"></i>
            </td>
            <td>9</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="add-company float-right">
      <span>Công ty không nằm trong danh sách? Yêu cầu cập nhật ngay.</span>
      <button type="button" class="btn btn-primary">Thêm công ty</button>
    </div>
  </div>
</body>
</html>
