<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Lecturer Profile</title>

  <!-- Bootstrap core CSS -->
  <link href="~/assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
  <link href="~/assets/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
  <script src="~/assets/jquery-3.2.1.min.js"></script>
  <script src="~/assets/bootstrap/js/bootstrap.js"></script>
  <!-- Custom styles for this template -->
  <!--<link href="/Frontend/src/app/UI/LecturerProfile.component.css" rel="stylesheet">-->

</head>
<body>
  <div>
    <ul>
      <li>
        <a class="active" [routerLink]="['/LecturerProfile']">
          Thông tin cá nhân
        </a>
      </li>
      <li>
        <a class="" href="#">
          Danh sách sinh viên
        </a>
      </li>
      <li>
        <a class="" href="#">
          Báo cáo
        </a>
      </li>
    </ul>
    <div class="container-fluid">
      <div class="row" id="infor">
        <div class="col-6 offset-3 justify-content-lg-center">
          <form [formGroup]="ChangePasswordForm" (ngSubmit)="ChangePassword(ChangePasswordForm.value)" align="center" class="form-update">
            <center><img src="sample.jpg" alt="{{UserEntity.Username}}" /></center>
            <h6 class="text-sm-center">{{UserEntity.Username}}</h6>
            <div class="form-group">
              <div class="col-3">
                <label for="old_password"><strong>Mật khẩu cũ:</strong></label>
              </div>
              <div class="col-12">
                <input type="password" name="old_password" class="form-control" id="oldPassword" placeholder="Mật khẩu cũ" [formControl]="ChangePasswordForm.controls['old_password']" />
                <h6 *ngIf="ChangePasswordForm.controls['old_password'].hasError('required') && ChangePasswordForm.controls['old_password'].touched" class="text-danger">Cần mật khẩu cũ</h6>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3">
                <label for="new_password"><strong>Mật khẩu mới:</strong></label>
              </div>
              <div class="col-12">
                <input type="password" name="new_password" class="form-control" id="newPassword" placeholder="Mật khẩu mới" [formControl]="ChangePasswordForm.controls['new_password']" />
                <h6 *ngIf="ChangePasswordForm.controls['new_password'].hasError('required') && ChangePasswordForm.controls['new_password'].touched" class="text-danger">Cần mật khẩu mới</h6>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3">
                <label for="confirm_password"><strong>Mật khẩu mới (Gõ lại):</strong></label>
              </div>
              <div class="col-12">
                <input type="password" name="confirm_password" class="form-control" id="confirmPassword" placeholder="Mật khẩu mới (Gõ lại)" [formControl]="ChangePasswordForm.controls['confirm_password']" />
                <h6 *ngIf="ChangePasswordForm.controls['confirm_password'].hasError('required') && ChangePasswordForm.controls['confirm_password'].touched" class="text-danger">Cần gõ lại mật khẩu mới</h6>
                <h6 *ngIf="ChangePasswordForm.errors?.passwordMatch!=null && ChangePasswordForm.controls['confirm_password'].touched" class="text-danger">Mật khẩu không khớp</h6>
              </div>
            </div>
            <button type="button" class="btn btn-primary float-sm-right" id="btn-submit" [disabled]="!ChangePasswordForm.valid" (click)="ChangePassword(ChangePasswordForm.value)">Lưu thay đổi</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-modal [OpenModalId]="EditModalComponent.ID">
    <modal-header>
      <h5 class="modal-title">
        <i class="fa fa-dropbox" aria-hidden="true"></i>
        Thay đổi mật khẩu
      </h5>
    </modal-header>
    <modal-body>
      <br>
      <div *ngIf="IsSuccess"><h4 class="text-center">Thay đổi mật khẩu thành công</h4></div>
      <div *ngIf="!IsSuccess"><h4 class="text-center">Thay đổi mật khẩu không thành công</h4></div>
      <br>
    </modal-body>
    
    <modal-footer>
      <a href="/App" class="btn btn-success" (onClick)="CloseModal()">
      <i class="fa fa-check" aria-hidden="true">Về trang chủ</i>
      </a>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (onClick)="CloseModal()">
        <span><i class="fa fa-times" aria-hidden="true">Hủy</i></span>
      </button>
    </modal-footer>
  </app-modal>


  <div class="row bg-primary footer">
    <div>
      <p>@2018 Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội </p>
      <p>Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
      <p>Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn</p>
    </div>
  </div>
</body>
</html>
