<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">

  <!--CSS file ref-->
  <link rel="stylesheet" type="text/css" media="screen" href="Student_managerment_finnal.css" />

</head>

<body style="background-color: rgb(245, 245, 240);">
<!--Header-->

<!--Navigator-->

<!--Content-->
<br>
<div class="container-fluid row" style="padding-left: 30px;">
  <br>
  <div class="col-sm-3" style="border-style: groove;">
    <div class="row">
      <div class="col-sm-2" style="padding-left: 10px; margin-bottom: 15px;">
        <img class="rounded-circle" src="https://images.kienthuc.net.vn/zoomh/500/uploaded/nguyenanhson/2017_09_15/8/gai-xinh-khoa-it-truong-dh-cong-nghe-thuc-pham-khoe-sac.jpg"
             style="width: 180%;">
      </div>
      <div class="col-sm-10 form-inline" style="padding-left: 20px; padding-right: 5px;">
        <h6 style="width: 25%;">Họ tên</h6>
        <h6 style="height: 1.8rem; ;width: 74%;margin-bottom: 5px;padding-left: 3px ;background-color: white; border-style: groove">Nguyễn Văn A</h6>
        <h6 style="width: 25%">Chức vụ</h6>
        <h6 style="height: 1.8rem; ;width: 74%;margin-bottom: 5px; padding-left: 3px ;background-color: white; border-style: groove">Chuyên viên tuyển dụng</h6>
      </div>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-8" style="border-style: groove;">
    <div class="form-inline" style="margin-top: 10px; margin-bottom: 10px;">
      <a class="btn" style="width: 10%">
        <i class="fa fal fa-edit display-3" style="font-size: 1.5rem;">Post</i>
      </a>
      <span style="min-width: 25%"></span>
      <input type="text" placeholder="Search..." class="form-control" style="min-width: 32%; max-height: 2rem;">
      <i class="fa fa-search " style="padding-left: 5px; font-size: 1.5rem;"></i>
    </div>
    <div class="border">
      <div class="row ">
        <div class="col-sm-3">
          <img src="https://images.kienthuc.net.vn/zoomh/500/uploaded/nguyenanhson/2017_09_15/8/gai-xinh-khoa-it-truong-dh-cong-nghe-thuc-pham-khoe-sac.jpg"
               class="rounded" style="max-width: 35%; margin: 15px 5px 25px 25px;">
        </div>
        <div class="col-sm-9" style="margin-top: 15px">
          <h5>Title: </h5>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-4">
              Ngày đăng:
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-6">
              Ngày hết hạn:
            </div>
          </div>
          <div>
            <p>Mô tả: </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="row ">
        <div class="col-sm-3">
          <img src="https://images.kienthuc.net.vn/zoomh/500/uploaded/nguyenanhson/2017_09_15/8/gai-xinh-khoa-it-truong-dh-cong-nghe-thuc-pham-khoe-sac.jpg"
               class="rounded" style="max-width: 35%; margin: 15px 5px 25px 25px;">
        </div>
        <div class="col-sm-9" style="margin-top: 15px">
          <h5>Title: </h5>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-4">
              Ngày đăng:
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-6">
              Ngày hết hạn:
            </div>
          </div>
          <div>
            <p>Mô tả: </p>
          </div>
        </div>
      </div>
    </div>
    <div class="border">
      <div class="row ">
        <div class="col-sm-3">
          <img src="https://images.kienthuc.net.vn/zoomh/500/uploaded/nguyenanhson/2017_09_15/8/gai-xinh-khoa-it-truong-dh-cong-nghe-thuc-pham-khoe-sac.jpg"
               class="rounded" style="max-width: 35%; margin: 15px 5px 25px 25px;">
        </div>
        <div class="col-sm-9" style="margin-top: 15px">
          <h5>Title: </h5>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-4">
              Ngày đăng:
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-6">
              Ngày hết hạn:
            </div>
          </div>
          <div>
            <p>Mô tả: </p>
          </div>
        </div>
      </div>
    </div> <div class="border">
    <div class="row ">
      <div class="col-sm-3">
        <img src="https://images.kienthuc.net.vn/zoomh/500/uploaded/nguyenanhson/2017_09_15/8/gai-xinh-khoa-it-truong-dh-cong-nghe-thuc-pham-khoe-sac.jpg"
             class="rounded" style="max-width: 35%; margin: 15px 5px 25px 25px;">
      </div>
      <div class="col-sm-9" style="margin-top: 15px">
        <h5>Title: </h5>
        <div class="row" style="margin-bottom: 5px;">
          <div class="col-sm-4">
            Ngày đăng:
          </div>
          <div class="col-sm-2">

          </div>
          <div class="col-sm-6">
            Ngày hết hạn:
          </div>
        </div>
        <div>
          <p>Mô tả: </p>
        </div>
      </div>
    </div>
  </div>
    <br>
    <div class="text-center">
      <button class="btn">Trang tiếp</button>
    </div>
    <br>
  </div>
</div>

<br>

<!-- Footer mặc định -->
<div class="row bg-primary footer">
  <div>
    <p>@2018 Trường Đại học Công nghệ - Đại học Quốc gia Hà Nội </p>
    <p>Địa chỉ: E3, 144 Xuân Thủy, Cầu Giấy, Hà Nội</p>
    <p>Điện thoại: 024.37547.461; Fax: 024.37547.460; Email: uet@vnu.edu.vn</p>
  </div>
</div>



</body>

</html>
