<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">


  <link rel="stylesheet" href="Lecture_DSsinhvien.css">


</head>

<body>

<div class="container">
  <table>
    <thead>
    <tr>
      <th style="width: 8.33%">STT</th>
      <th style="width: 25%">Họ tên Sinh viên</th>
      <th style="width: 50%">Nội dung đề tài</th>
      <th style="width: 16.66%">Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <th>Nguyen Van Long</th>
      <th>Khai thác lỗ hổng</th>
      <th>
        <a href="#">Chi tiết</a>
      </th>
    </tr>
    </tbody>
  </table>
</div>


</body>

</html>


