.content .container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  border: groove 2px;
  max-width: 100%;
}

h6 {
    
}
table {
  margin-top:0;
  border: 1px solid;
}
#btn-submit {
  margin-left: 30px;
}
#name {
  font-size:150%;
  padding-left:0;
  text-align:center;
}

#boxname {
  height: 25px;
  line-height: 25px;
  border: 1px solid;
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
  font: sans-serif bold;
}
