<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div>

  <div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-4" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
            ;text-align: center; width: 350px; margin:  30px 0px 0px 0px; background-image:">
      <div class="col-md-4"> </div>
      <div>
        <img src="https://pb2-production-herokuapp-com.global.ssl.fastly.net/default_avatar.png" width="150px" height="150px">
      </div>
      <label style="background-color: aliceblue">Lê Đình Thanh</label>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

          <input type="text" class="form-control" value="thanhld@vnu.edu.vn" placeholder="VNU Mail"><br>

          <input type="text" class="form-control" value="thanhld@gmail.com" placeholder="Gmail"><br>

          <input type="text" class="form-control" value="1216151" placeholder="Điện thoại"><br>

          <input type="text" class="form-control" value="Công nghệ thông tin" placeholder="Khoa"><br>

          <input type="text" class="form-control" value="Phát triển ứng dụng web" placeholder="Ghi chú"><br>
        </div>
        <div class="col-md-1"></div>
        <div class="row" style="margin: 20px 40px 20px 70px">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button class="btn btn-primary" style="text-align: center; width: 120px">Lưu thay đổi</button>
          </div>
          <div class="col-md-4"></div>
          <div class="col"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2"> </div>
  </div>
</div>

</body>
</html>
